
.flex-container {
  display: flex;
  height: 300px;
  justify-content: flex-start;
  border-top: 1px solid #f0eeee;
}

.flex-container2 {
  display: flex;
  height: 300px;
  justify-content: flex-start;
  border-top: 1px solid #f0eeee;
}
.flex-container3 {
  display: flex;
  height: 300px;
  justify-content: flex-start;
  border-top: 1px solid #f0eeee;
}
.flex-container4 {
  display: flex;
  height: 300px;
  justify-content: flex-start;
  border-top: 1px solid #f0eeee;
}


.flex-item {
  padding: 5px;
  width: auto;
  height: 300px;
  margin-top: 10px;
  font-size: 3em;
}

.project-logo {
  width: auto;
  height: 300px;
  margin-right: 10px;
  margin: auto;
}

.description {
  padding: 5px;
  max-width: 800px;
  margin-top: auto;
  font-size: 3em;
}
.project-name {
  font-size: 4em;
  text-align: -webkit-center;
  margin-top: 5%;
}
.frameworks {
  justify-content: flex-end;
  margin: auto;
  font-size: 3em;
}

ul > li > img {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
}

li {
  list-style-type: none;
}

.visitProject {
  font-size: 4em;
  border: solid;
  width: fit-content;
  border-radius: 15px;
  margin: auto;
}

/* add a flexbox css inside the content grid to make it responsive images
easier and link the projects to github with ease */
