@media all and (max-width: 800px) {

.nav-right > a {
    font-size: 35px;;
  }

.nav-right {
  float: none;
}

.giphy-embed {
  width: 50%;
  height: 50%;
}

}

/* *TODO* 
RESPONSIVE HOW DO YOU DO????
UDACITY  */
