.main {
  min-height: 800px;
}



@media only screen and (min-width: 600px) {
.dropbtn {
  display:none;
}
.dropdown {
  display: none;
}
}

@media only screen and (max-width: 600px) {
.nav-right > a {
  display: none;
}
.myLogo {

}



.dropbtn {
  font-size: 25px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5%;
}

.dropbtn:hover {
  border: 5px solid #357099;
  border-radius: 5px;
  background-color: #357099;
  color: white;
  transition: all 0.2s;
}

.dropdown {
  position: absolute;
  display: inline-block;
  /* float: right; */
  margin-top: 20px;
  margin-left: 5%;
  width: 60%;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 15px;
  width: 95%;
  height: 110%; /* Easier to see buttons */
  margin: auto;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 25px;
  text-align: center;
}

.dropdown: .dropdown-content {
  display: block;
}
}


/* *TODO*
RESPONSIVE HOW DO YOU DO????
UDACITY  */
