.container > div, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  color: #494c4e;
}

html, body {
  box-sizing: border-box;
  height: auto;
  margin: 0px;
  font-size: 60%;
  color: #494c4e;
}

.nav {
  padding-top: 4em;
  padding-bottom: 4em;
}

.content {
  font-size: 2.5em;
  text-align: center;
  padding: 4%;
}

#welcome {
  width: 60%;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  margin: 1%;
}

.footer {
  font-size: 2em;
  color: grey;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 4em;
  border-top: 1px solid #f0eeee;
}

.myLogo {
width: 50px;
height: 50px;
display: inline-block;
vertical-align: middle;
overflow: visible;
border: 5px solid #494c4e;
position: relative;
}

nav >.myLogo:hover{
  transform: rotate(90deg);
  transition-duration: .4s;

}

.myLogo:hover > .Logo-text {
  transform: translate(-50%, -50%) rotate(-90deg);
  transition-duration: .4s;
}

.Logo-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform .4s ease-in-out;
font-weight: bold;
font-size: 20px;
text-align: center;
}

.nav-right {
    float: right;
    display: inline-block;
    vertical-align: middle;
    padding-top: 4em;
  }

.nav-right > a {
  margin-left: 60px;
  font-size: 20px;
}

.nav > ul > a:hover {
  border-bottom: 5px solid #357099;
  transition: all .5s;
}

a {
color: #494c4e;
transition: all 0.2s linear;
text-decoration: none;
padding: 5px;
}

.main-image {
width: 100%;
height: auto;
max-height: 500px;
padding-bottom: 2%;
}

.slideshow-container  {
padding-top: 8em 8em 8em 8em;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);
border-top: 1px solid #f0eeee;
}

/* slides */
.slideshow-container {
  width: 80%;
  margin: auto;
  background-color: rgb(245, 245, 245);
}
.slides-img {
  padding: 2% 2% 2% 2%;
  width: 50%;
  height: auto;
  max-height: 300px;
}

.inner-container {
  padding:4em 0em 0em 0em;
  float: right;
  width: 40%;
  height: auto;
  max-height: 300px;
  justify-content: center;
  align-items: center;
}

.no-active {
  display: none;
}

.active {
  display: inline;
}

h2 {
    text-align: center;
    font-size: 4em;
    line-height: 1em;
    margin-bottom: 1.5em;
}

p {
    padding: 2em 2em 2em 2em;
    font-size: 2.5em;
    line-height: 2em;
    margin-bottom: 1.5em;
}

#dot1, #dot2, #dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;

}

.focus {
  background-color: rgba(0,0,0,0.8);
}

.no-focus {
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

.dots {
  text-align: center;
  padding: 2%;
}

#dot1:hover, #dot2:hover, #dot3:hover {
  background-color: rgba(0,0,0,0.8);
}

.contact-me {
  border-top: 1px solid #f0eeee;
  font-size: 2.5em;
  text-align: center;
  padding: 2% 0% 2% 0%;
}
.button {
  width: 10%;
  border: solid #357099;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.slide-arrow {
  width: 10%;
  height: 10%;
  display: flex;
  float: right;
  margin: auto;
  position:relative;
  right:-50px;
  top: -170px;
  /* center verticaly */
  font-size: 30px;
  background-color: #bbb;
  padding: 10px;
}
